@media screen and (max-width: 640px) {
.hero {
    height:100vh;
}
.title {
    margin-top:2rem;
}
.about {
    height:100vh;
}
.library {
    height:100vh;
}
#feture {
   margin-bottom:2rem;
}
#close{
    margin:1rem 0;
}

}
@media screen and (max-width: 1020px) {
    /* .title {
        margin-top:5rem;
    } */
}
#modal-height{
    margin:5rem 0;
}
.hero {
    background:url('/img/bg.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
}
.music-card {
    background:linear-gradient(90deg,
    #0f0c29, #302b63, #24243e
);
}
.modal-body {
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    box-shadow: 0 4px 8px aqua; /* Adjust the shadow properties as needed */
    
}
.hidden {
    display: none;
}
.footer {
    padding-bottom:2rem;
    margin-top:2rem;
}
.footer, .text-footer {
    padding:1rem 0;
}
#music {
    margin:1rem  1rem;
}
.music-title {
    margin-top:1rem;
}
.filter-btn {
    transition: background-color 0.3s;
}
.filter-btn:hover {
    background-color: #3b82f6; /* Warna biru saat dihover */
}

#volume-control {
    width: 100%;
    margin-top: 1rem;
}
/* .max-w-sm, .music-card {
    max-width:22rem!important;
    max-height:auto;
} */





