@media screen and (max-width: 640px) {
.hero {
    height:100vh;
}
.title {
    margin-top:2rem;
}
.about {
    height:100vh;
}

.library {
    height:100vh;
}
.filter-btn {
    margin-bottom:1rem!important;
}
#feture {
   margin-bottom:2rem;
}
#close{
    margin:1rem 0;
}


.img-circle {
    width:60%!important;
    margin:2rem 0!important;
    left:1rem;
   }

}
@media screen and (max-width: 1024px) {
   .img-circle {
    width:60%!important;
    margin:2rem 3rem!important;
   }
  
}
/* @media (min-width: 1200px) {
    #music {
        margin-left:10rem!important;
    }
}
@media (min-width: 1100px) {
    #music {
        margin-left:3rem!important;
    }
} */
.rotate {
    animation: djBounce 1.2s infinite;
}

@keyframes djBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.highlight {
    box-shadow: 10px 20px 10px aqua;
}

.blur {
    filter: blur(3px);
}
.blur2 {
    filter: blur(2px);
}
.img-shadow {
    box-shadow: 0 0 5px black;
}



.img-circle {
  margin:3rem 0;
  margin-left:5rem;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
#modal-height{
    margin:5rem 0;
}
.hero {
    background:url('/img/bg.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
}
.music-card {
    background:linear-gradient(90deg,
    #0f0c29, #302b63, #24243e
);
}
.modal-body {
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    box-shadow: 0 4px 8px aqua; /* Adjust the shadow properties as needed */
    
}
.hidden {
    display: none;
}
.footer {
    padding-bottom:2rem;
    margin-top:2rem;
}
.footer, .text-footer {
    padding:1rem 0;
}
#music {
    margin:1rem  1rem;
}
.music-title {
    margin-top:1rem;
}
.filter-btn {
    transition: background-color 0.3s;
}
.filter-btn:hover {
    background-color: #3b82f6; /* Warna biru saat dihover */
}

#volume-control {
    width: 100%;
    margin-top: 1rem;
}
/* .max-w-sm, .music-card {
    max-width:22rem!important;
    max-height:auto;
} */





